@model TaxisDb.Persistence.Models.Role.RoleModel

@{
    ViewData["Title"] = "Edit";
}

<h1>Edit</h1>


<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Id" class="control-label"></label>
                <input asp-for="Id" class="form-control" />
                <span asp-validation-for="Id" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Rolename" class="control-label"></label>
                <input asp-for="Rolename" class="form-control" />
                <span asp-validation-for="Rolename" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Description" class="control-label"></label>
                <input asp-for="Description" class="form-control" />
                <span asp-validation-for="Description" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="CreationUser" class="control-label"></label>
                <input asp-for="CreationUser" class="form-control" />
                <span asp-validation-for="CreationUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ModifyUser" class="control-label"></label>
                <input asp-for="ModifyUser" class="form-control" />
                <span asp-validation-for="ModifyUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeletedUser" class="control-label"></label>
                <input asp-for="DeletedUser" class="form-control" />
                <span asp-validation-for="DeletedUser" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Deleted" class="control-label"></label>
                <input asp-for="Deleted" class="form-control" />
                <span asp-validation-for="Deleted" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
